#useState:hover #useStateul{ 
    cursor: pointer;
    color: rgb(11, 223, 11);
    display: block;
}
#useStateul{  
 display: none;
 top: 100%;
 left: -2%;
 width: 90px;  
 z-index: 3; 
} 
.nav-link{
    font-size: 14px !important;
}
.nav-link:hover{
    color: green !important;
} 
#useReducer:hover #useReducerul{ 
    cursor: pointer;
    color: rgb(11, 223, 11);
    display: block;
}
#useReducerul{  
    display: none;
    top: 100%;
    left: 1%;
    width: 103px;  
    z-index: 3;
}