#withoutApiForm{
    top:25%;
}
#apiUseState{
    top: 19%;
    left: 23.5%; 
}
#apiTable{
    top: 19%;
    left: 17%;
}
#loaderApi{
    top:50%;
    left: 47%;
}
#useReducerNonAPi{
    top: 30%;
    left: 33%;
}
#useReducerAPi{
    top: 30%;
    left: 25%;
    grid-template-columns: auto auto;
}
.MuiTableContainer-root{
    display: flex; 
    min-height: 100vh;
}
#loginForm{
    top: 25%; 
    left: 42%;
}