#withoutApiForm{
    top:25%;
}
#apiUseState{
    top: 19%;
    left: 20%;
}
#apiTable{
    top: 19%;
    left: 17%;
}
#loaderApi{
    top:50%;
    left: 47%;
}
#useReducerNonAPi{
    top: 30%;
    left: 33%;
}
#useReducerAPi{
    top: 30%;
    left: 33%;
}
.MuiTableContainer-root{
    display: flex; 
    min-height: 100vh;
}